// Colores principales
$primary-color: #6366f1 !default;
$secondary-color: #a855f7 !default;
$dark-bg: #0f172a !default;
$white: #ffffff !default;

// Tipografía y espaciado
$font-main: 'Poppins', sans-serif;
$spacing-unit: 1rem !default;

// Listas (Social Media)
$social-channels: "WhatsApp", "Email", "LinkedIn";
