<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Configuración para Hibernate -->
    <logger name="org.hibernate.engine" level="OFF"/>
    <logger name="org.hibernate.mapping.Table" level="OFF"/>
    <logger name="org.hibernate.service.internal.SessionFactoryServiceRegistryImpl" level="OFF"/>

    <!-- Tu librería - nivel INFO para mensajes importantes -->
    <logger name="tu.paquete.libreria" level="OFF"/>
    <!-- Configuración general -->
    <root level="OFF">
        <appender-ref ref="CONSOLE" />
    </root>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
</configuration>